.jeopardy-table {
  width: 100%;
  height: 300px;
  border: 1px dashed green;
  text-align: center;
  padding-top: 20px;
}

.jeopardy-table-header-row {
	
}

.jeopardy-table-header {
  text-align: center;
  height: 1em;
}

.jeopardy-table-question-row {
  vertical-align: center;
  border: 1px dashed green;
}

.jeopardy-table-question {
  border: 1px dashed green;
  vertical-align: top;
  line-height: 1em;
  text-align: left;
  padding: 5px;
}

.jeopardy-over {
  background-color: #9FD4FF;
}

.jeopardy-completely-hidden-question, .jeopardy-completely-hidden-answer {
  display: none;
}

.hidden-jeopardy-question {
  width: 100%;
  height: 300px;
  display: block;
  border: 1px dashed green;
}

.question-visited {
  background-color: #FFE59F;
}

.answer-visited {
  background-color: #BFFF9F;
}

.answer-link {

}

div.answer-wrapper {
  float: right;
  width: 5em;
  display: block;
}

div.hidden-jeopardy-question {

}

div.question-wrapper {
  margin: 10px;
  width: 100%;
  height: 100%;
}
